@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: cornflowerblue;
}

.conteiner {
    border: solid 1px;
    background-color: bisque;
    width: 450px;
}

h1 {
    text-align: center;
}

.input-box {
    display: flex;
    justify-content: center;
    margin: 20px;
    background-color: aqua;
}

.input-box input {
    width: 400px;
    height: 45px;
    border-radius: 20px;
}